<ul>
    <li>
        <a href="~/Home/TestA">Test A</a>
        <span>jquery, knockout, common, test a</span>
    </li>
    <li>
        <a href="~/Home/TestB">Test B</a>
        <span>knockout, common, test b</span>
    </li>
</ul>