<!doctype html>
<html>
<head>
    <title>HMR demo</title>
</head>
<body>
    <div id="root"></div>
    <script src="~/dist/runtime.js" asp-append-version="true"></script>
    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    <script src="~/dist/common.js" asp-append-version="true"></script>
    <script src="~/dist/TestA.js" asp-append-version="true"></script>
    <script src="~/dist/TestB.js" asp-append-version="true"></script>
    <script type="text/javascript">
    (function(window) {
        var TestA = window.TestA.default;
        var testA = new TestA();
        console.log(window.$("#root"));
    })(window)
    </script>
</body>
</html>
