@await Html.PartialAsync("_TestTemplate")

<div id="test-root" data-bind="template: { name: 'test-template', data: TestAInstanceProp }">
</div>

@section Scripts {
    <script src="~/dist/runtime.js" asp-append-version="true"></script>
    <script src="~/dist/vendor.webpack.js" asp-append-version="true"></script>
    <script src="~/dist/vendor.jquery.js" asp-append-version="true"></script>
    <script src="~/dist/vendor.knockout.js" asp-append-version="true"></script>
    <script src="~/dist/common.js" asp-append-version="true"></script>
    <script src="~/dist/TestA.js" asp-append-version="true"></script>
    <script type="text/javascript">
    (function() {
        ko.applyBindings(new TestA.default(), $("#test-root").get(0));
    })()
    </script>
}
